body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  .content {
    flex: 1;
  }

  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px;
    margin-top: auto;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
  
li {
    list-style: none;
}

  @media (max-width: 600px) {
    footer {
      padding: 15px;
    }

    footer a {
      display: block;
      margin: 10px 0;
    }
  }